{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}


<section class="section">
  <div class="section-header">
    <h1>Dashboard</h1>
  </div>
<form method="POST">
<div class="form-group">
    <label>Staff</label>
    {% csrf_token %}
    <input style='margin-bottom:20px;' type="text" class="form-control" name="firstname">
    <input style='margin-bottom:20px;' type="text" class="form-control" name="surname">
    <button type="submit" class="btn btn-success rounded-pill">Save</button>
</div>
</form>

</section>

{% endblock %}